@font-face {
    font-family: Oxygen-Regular;
    src: url(resources/Oxygen-Regular.ttf);
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-image: url(resources/bg.jpg);
}

h1, h2, h3, h4, p {
    font-family: Oxygen-Regular;
    color: white;
    text-align: center;
}

#button {
    background-color: #5865F2;
    color: white;
    align-self: center;
    padding: 10px 16px 10px 16px;
    border-radius: 5px;
    font-size: 25px;
}

#button:hover {
    cursor: pointer;
}



/* navbar styles */

nav {
    overflow: visible;
    background-color:#36393F;
    text-align: center;
    position: relative;
    padding: 30px;
    border-bottom: 3px solid #5865F2;
}
  
nav a {
    color: #f2f2f2;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.25rem;
    font-family: Oxygen-Regular;
    font-weight: 600;
    padding: 12px;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    color: #5865F2;
}
  
nav a.active {
    background-color: #4CAF50;
    color: white;
}

#hidden-menu {
    display: none;
}

#dropdown-button {
    display: none;
}


/* bg image styles */

#bg-image-container {
    height: 600px;
    background-image: url(resources/top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid #5865F2;
}

#top-bg-header {
    text-shadow: 2px 2px black;
    font-size: 120px;
    position: relative;
}

#top-bg-article {
    text-shadow: 2px 2px black;
    font-size: 30px;
    position: relative;
}



/* remaining section styles */
#main-sections {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0px;
    border-bottom: 3px solid #5865F2;
    background: linear-gradient(217deg, rgba(66,69,73, 0.9), rgba(255,0,0,0) 80%),
            linear-gradient(127deg, rgba(54,57,62, 0.9), rgba(0,255,0,0) 80%),
            linear-gradient(336deg, rgba(40,43,48, 0.9), rgba(0,0,255,0) 80%);
}

/* discord section styles */

.header-text {
    text-align: center;
}

.discord-header-text {
    text-align: center;
}

#discord-section {
    display: flex;
    flex-direction: column;
}

#discord-section > div {
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 3px solid #5865F2;
}

#discord-section img {
    width: 40%;
    border: 4px solid #2a2d31;
    border-radius: 10px;
}

#discord-section div {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#discord-section p {
    text-align: center;
}

#discord-feature-1 img {
    float: left;
}

#discord-feature-2 img {
    float: right;
}

#discord-feature-3 img {
    float: left;
}

#discord-feature-4 img {
    float: right;
}

/* links section styles */

#social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7%;
}

#social-links img {
    transition: filter 0.5s;
}

#social-links img:hover {
    cursor: pointer;
    filter: saturate(300%)
}

#contact {
    display: flex;
    flex-direction: column;
}

#credits p {
    font-size: 14px;
}




@media only screen and (max-width: 1050px) {

    #dropdown-button {
        display: inline-block;
        border: none;
        background-color: #5865F2;
        color: white;
        padding: 12px;
        font-size: 16px;
        border-radius: 3px;
    }

    #dropdown-button:hover {
        cursor: pointer;
    }

    #hidden-menu {
        margin-top: 10px;
        flex-direction: column;
    }

    .hidden-menu-item:hover {
        background-color: #5865F2;
        color: white;
        border-radius: 3px;
    }

    .navbar {
        display: none;
    }
    
}




  












