@font-face {
    font-family: Oxygen-Regular;
    src: url(resources/Oxygen-Regular.ttf);
}



body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-image: url(resources/bg.jpg);
}

h1, h2, h3, h4, p {
    font-family: Oxygen-Regular;
    color: white;
    text-align: center;
}

.button {
    background-color: #5865F2;
    color: white;
    align-self: center;
    padding: 10px 16px 10px 16px;
    border-radius: 5px;
    font-size: 25px;
}

.button:hover {
    cursor: pointer;
}



/* navbar styles */

nav {
    overflow: visible;
    background-color:#36393F;
    text-align: center;
    position: relative;
    padding: 30px;
    border-bottom: 3px solid #5865F2;
}
  
nav a {
    color: #f2f2f2;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1.25rem;
    font-family: Oxygen-Regular;
    font-weight: 600;
    padding: 12px;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    color: #5865F2;
}
  
nav a.active {
    background-color: #4CAF50;
    color: white;
}

#hidden-menu {
    display: none;
}

#dropdown-button {
    display: none;
}


/* bg image styles */

#bg-image-container {
    height: 600px;
    background-image: url(resources/top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid #5865F2;
}

#top-bg-header {
    text-shadow: 2px 2px black;
    font-size: 120px;
    position: relative;
}

#top-bg-article {
    text-shadow: 2px 2px black;
    font-size: 30px;
    position: relative;
}



/* remaining section styles */
#main-sections {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 0px;
    border-bottom: 3px solid #5865F2;
    background: linear-gradient(217deg, rgba(66,69,73, 0.9), rgba(255,0,0,0) 80%),
                linear-gradient(127deg, rgba(54,57,62, 0.9), rgba(0,255,0,0) 80%),
                linear-gradient(336deg, rgba(40,43,48, 0.9), rgba(0,0,255,0) 80%);
}

/* discord section styles */

.header-text {
    text-align: center;
}

.discord-header-text {
    text-align: center;
}

#discord-section {
    display: flex;
    flex-direction: column;
}

#discord-section > div {
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 3px solid #5865F2;
}

#discord-section > div:nth-child(5) {
    border-bottom: none;
}

#discord-section img {
    width: 40%;
    border: 4px solid #2a2d31;
    border-radius: 10px;
}

#discord-section div {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#discord-section p {
    text-align: center;
}

#discord-feature-1 img {
    float: left;
}

#discord-feature-2 img {
    float: right;
}

#discord-feature-3 img {
    float: left;
}

#discord-feature-4 img {
    float: right;
}

#join-discord-section {
    display: flex;
    flex-direction: column;
}

#special-button {
    font-size: 30px;
    padding: 20px 32px 20px 32px;
    background-size: 300% 100%;
    background-color: #4CAF50;
    border-radius: 8px;
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    box-shadow: 0px 0px 15px 0 rgba(23, 168, 108, 0.75);
    transition: all .4s ease-in-out;
}

#special-button:hover {
    background-position: 100% 0;
    filter: hue-rotate(50deg);
    box-shadow: 0px 0px 40px 0 rgba(23, 168, 108, 0.75);
}

#special-button:focus {
    outline: none;
}


/* links section styles */

#social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7%;
}

#social-links img {
    transition: filter 0.5s;
}

#social-links img:hover {
    cursor: pointer;
    filter: saturate(300%)
}

#contact {
    display: flex;
    flex-direction: column;
}

#credits p {
    font-size: 14px;
}

#credits {
    font-family: Oxygen-Regular;
}

#deatg {
    color: white;
    text-decoration: none;
    transition: all 0.8s;
}
#deatg:hover {
    color: rgb(0, 158, 231);
    filter:saturate(1000%);
    animation: glow 1s ease-in-out infinite alternate;
}

/* animations and fade in effect */

.fade-in {
    animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; filter: blur(3px) }
    to   { opacity: 1; filter: blur(0px) }
}

@keyframes greyfade {
    from { filter: contrast(0%); }
    to { filter: contrast(100%);  }
}

@keyframes rainbow {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(360deg); }
}

@keyframes glow {
    from { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #08e600, 0 0 40px #2300e6, 0 0 50px #e6d700, 0 0 60px #00b8e6, 0 0 70px #e60000; }
    to { text-shadow: 0 0 20px #fff, 0 0 30px #00aeff, 0 0 40px #ff4dd3, 0 0 50px #d8ff4d, 0 0 60px #4dffd8, 0 0 70px #ff8e4d, 0 0 80px #4deaff; }
}




@media only screen and (max-width: 1050px) {

    #top-bg-header {
        font-size: 100px;
    }

    #top-bg-article {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 20px;
    }
    #dropdown-button {
        display: inline-block;
        border: none;
        background-color: #5865F2;
        color: white;
        padding: 12px;
        font-size: 16px;
        border-radius: 3px;
    }

    #dropdown-button:hover {
        cursor: pointer;
    }

    #hidden-menu {
        margin-top: 10px;
        flex-direction: column;
    }

    .hidden-menu-item:hover {
        background-color: #5865F2;
        color: white;
        border-radius: 3px;
    }

    .navbar {
        display: none;
    }

    #social-links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    #social-links img {
        width: 100px;
    }

    #main-sections {
        padding: 10px;
    }
    
}




  












